<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>037e9b38</string>
	<key>appKey</key>
	<string>c5eafabd521ddd4351cdd9e3c5428908</string>
</dict>
</plist>
